body {background-image:url('http://www.chaoswallpapers.com/wallpapers/pretty_cloudy_sunshine_weather-1680x1050.jpg'); 
    background-size:100%;
    font:"Comic Sans MS", cursive;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {font-family:Georgia,serif;color:#ccc;text-align:center;} 

form.form-search {text-align:center;} 

table {
    height: 230px;
    width: 96%;
    border-style: solid;
    padding-bottom: 30px;
}

tr{
    border-style: solid;
}

td{
    border-style: solid;
}

.wea{
    color: #fff;
    text-shadow: 0 0 0 rgba(255,255,255,0.3), 0 0 0 rgba(255,255,255,0.3), 0 0 0 rgba(255,255,255,0.1), 0 0 0 rgba(255,255,255,0.1), 0 0 5px rgba(0,0,0,0.5);
}


.content{
    position: absolute;
    margin:auto;
	width:100%;
	height:3000px;
    border:2px solid;
    border-color: red;
}

.content_left{
    position: absolute;
    margin:auto;
	width:50%;
	height:3000px;
    border:2px solid;
    border-color: blue;
    left:0px;
    
}

.content_right{
    position: absolute;
    margin:auto;
	width:50%;
	height:3000px;
    left:50%;
    border:2px solid;
    border-color: blue; 
}

.city{
    position:absolute;
	top:10px;
	left:10px;
    width:96%;
    padding-top: 5px;
    height: 40px;
	font-family:Georgia;
	font-size:30px;
	color:black;
    border:2px solid;
    border-color: green; 
    
}

.geo{

    position:absolute;
	top:60px;
    padding-top: 5px;
	left:10px;
    height: 30px;
    width:96%;
	font-family:Georgia;
	font-size:20px;
	color:black;
    border:2px solid;
    border-color: black; 

}

.current{
	position:absolute;
    padding-top: 30px;
    top:100px;
	left:10px;
    height: 70px;
    width:96%;
	font-family:Georgia;
	font-size:90px;
	color:black;
	font-weight:lighter;
    border:2px solid;
    border-color: yellow;
}

.forecast{
	position:absolute;
	top:210px;
	left:5px;
    width: 92%;
    height: 260px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #f7f2f7;
    background:rgba(40,48,77,0.5);
    padding-left: 40px;
    padding-top: 40px;
    font-size:25px;
    float:left;
	}

.details{
    position:absolute;
	top:515px;
	left:10px;
    width: 96%;
    height: 150px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #f7f2f7;
    background:rgba(40,48,77,0.5);
    padding-top:100px;
    font-size:25px;
    float:left;
}

.sunmoon{
    position:absolute;
	top:770px;
	left:10px;
    width: 47%;
    height: 150px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #f7f2f7;
    background:rgba(40,48,77,0.5);
    padding-top:100px;
    font-size:25px;
    float:left;
}

.windpressure{
    position:absolute;
	top:770px;
    left: 51%;
    width: 47%;
    height: 150px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #f7f2f7;
    background:rgba(40,48,77,0.5);
    padding-top:100px;
    font-size:25px;
    float:left;
}

.comparison{
	position:absolute;
	top:1030px;
	left:10px;
    width: 98%;
    height: 150px;
	text-align: center;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #f7f2f7;
    background:rgba(40,48,77,0.5);
    padding-top:100px;
    font-size:25px;
    float:left;	
}

.block{
    position:absolute;
    width: 96%;
    height: 350px;
    top: 1460px;
    left: 20px;
    float:left;
	text-align: center;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    padding-top:100px;
    border:2px solid;
    border-color: red;
}

.graph{
    position:absolute;
	top:1290px;
	left:20px;
    width: 96%;
    height: 350px;
	text-align: center;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #f7f2f7;
    background:rgba(40,48,77,0.5);
    padding-top:100px;
    font-size:25px;
    float:left;	
}

path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
}
			
.axis {
        shape-rendering: crispEdges;
}
 
.x.axis line {
        stroke: lightgrey;
}
 
.x.axis .minor {
        stroke-opacity: .5;
}
 
.x.axis path {
        display: none;
}
 
.y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
}
